{% extends "admin/django_admin_tabs/tab_change_form.html" %}
{% load i18n static admin_urls admin_modify %}
{% block title %}
  {% trans "Change" %}
  {{ original }}
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>&rsaquo;
    <a href="{% url 'admin:app_list' app_label=instance_meta_opts.app_label %}">
      {{ instance_meta_opts.app_config.verbose_name }}
    </a>
    &rsaquo;
    <a href="{% url instance_meta_opts|admin_urlname:'changelist' %}">
      {{ instance_meta_opts.verbose_name_plural|capfirst }}
    </a>
    &rsaquo;
    {% if has_change_permission %}
      <a href="{% url instance_meta_opts|admin_urlname:'change' anchor.id %}">
        {{ anchor }}
      </a>
    {% else %}
      {{ anchor|capfirst }}
    {% endif %} &rsaquo; {{ current_tab.capitalize }} &rsaquo; {{ original }}
  </div>
{% endblock %}

{% block content %}
  <h2>{{ anchor }}</h2>
  {{ block.super }}
{% endblock content %}
